@model Hermes.Leave.Services.Model.LeaveCard
@{
    ViewBag.Title = "CurrentLeaveCard";
}

<h2>Current Leave Card</h2>


<div class="well well-sm">
    <div>
        Allowance: @Model.Allowance
    </div>
    <div>
        Remaining: @Model.Remaining
    </div>
    <div>
        Taken: @Model.Taken
    </div>
</div>



 